body {background-color: #f0f0f2;
		padding: 0px;
		margin: 0px;}
		div{background-color: #fdfdff;
		width: 500px;
		padding: 50px;
		margin: 130px auto;
		border-radius: 15px; }
		a:link,a:visited{color: lightblue;
			text-decoration: none;}